@inherits LayoutComponentBase

<SiteHeader />
<main class="site-main">
    @Body
</main>

<div id="blazor-error-ui">
    Wystąpił nieobsłużony błąd.
    <a href="" class="reload">Odśwież</a>
    <a class="dismiss">🗙</a>
</div>
